<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    {{>header}}
    <p>This site was created by Drashti Patel it uses the data from mapbox and darksky api</p>
    <img src="/img/me.png">
    <h1> {{title}}</h1>
    <p> Created By {{name}} </p>
    {{>footer}}

</body>

</html>